body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f6f6f6;
    color: #333;
}

.headerJose {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
}

h2 {
    font-family: 'Inter Tight', sans-serif;
}

.left_text {

    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    background: white;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.centrado {
    display: flex;
    justify-content: center; /* centra horizontalmente */

}



.contenedor {
    display: flex;            /* activa flexbox */
    align-items: normal;      /* centra verticalmente la imagen y el texto */
    gap: 20px;
    /* espacio entre la imagen y el texto */
}


.contenedor img {
    flex-wrap: wrap;         /* tamaño de la imagen */
    height: auto;
}

.contenedor_2 {
    display: flex;            /* activa flexbox */
    align-items: center;
    justify-content: center;/* centra verticalmente la imagen y el texto */
    flex-wrap: wrap;
    gap: 200px/* centra verticalmente la imagen y el texto */
                   /* espacio entre la imagen y el texto */
}

.contenedor_2 img:hover {
    transform: scale(1.05);
    flex-wrap: wrap;
    height: auto;
}

.contenedor_header {
    display: flex;            /* activa flexbox */
    align-items: center;
    justify-content: center;/* centra verticalmente la imagen y el texto */
    flex-wrap: wrap;/* espacio entre la imagen y el texto */
}

.contenedor_header img {
    position: absolute;
    left: 20px;
    top: 20px;
    flex-wrap: wrap;

}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

ul {

    display: inline-block;
    text-align: left;
}

p {
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: white;
}

/* ANIMACIONES */

.fade-in {
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
